@import '../common.css';

.omnibar  {
  margin-top: var(--top);  
  height: 40px;
  opacity: 0.9;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 #cdcdcd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.item {
  padding: 0 4px;
  transition: all 0.3s;
  height: 100%;
}

.item span {

  vertical-align: top !important;
}

.upsideDown {
  transform: scaleY(-1);
}